In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [2]:
# importing data of previously cleaned hourly1418CA.csv file and selecting only the energy consumption data in MWH for..
# ..SDGE utility region 
hSDGE1418=pd.read_csv('hourly1418CA.csv',usecols=['Dates','SDGE'], parse_dates=['Dates'])

In [4]:
hSDGE1418.tail()

                    Dates         SDGE
43819 2018-12-31 19:00:00  2609.685890
43820 2018-12-31 20:00:00  2504.283858
43821 2018-12-31 21:00:00  2389.460971
43822 2018-12-31 22:00:00  2259.741640
43823 2018-12-31 23:00:00  2123.183153